/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);*/
/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);*/
@font-face {
    font-family: 'MyWebFont';
    /*font-family: 'Century Gothic', sans-serif;*/
    src: url(font/ufonts.com_century-gothic.ttf);
}
@font-face {
    font-family: 'TitlesFont';
    src: url(font/open-sans/OpenSans-Bold.ttf);
}


a{
     width: 165px;
     display: inline-block;
     background-color: #EE5955;
     text-align: center;
     line-height: 15px;
     font-size: 27px;
     font-weight: bold;
     text-decoration: none;
     color: #ffffff;
     height: 15px;
 }
 a:hover{
     text-decoration: none;
     color: white;
}

.detailValue:empty:before{
    content: 'X';
    font-weight: bold;
    font-size: 18px;
}

input{
    border: 1px solid #028b53;
    border-radius: 3px;
    color: #999999;
    font-size: 18.66px;
    font-weight: 400;
    text-align: left;
    height: 49px;
    text-indent: 8px;
    width: 100%;
    margin: 5px;
}
button[type=submit] {
    display: block;
    background-color: #259b6b;
    padding: 0 5%;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 4px 0px 0px #5db18f;
    width:100%;

    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 74.323px;
    text-shadow: 0px 1px 0px rgba(11, 116, 181, 0.75);
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 25px;
}
.modal-body ul{
    padding: 0px;
}

textarea[placeholder=DESCRIPTION] {
    border: 0;
    box-shadow: none;
    padding: 15.5px;
    font-size: 18.66px;
    height: 197px;
    width: 100%;
    border: 1px solid;
    border: 1px solid #028b53;
    border-radius: 3px;
    color: #999999;
    font-size: 18.66px;
    font-weight: 400;
    text-align: left;
    text-indent: 8px;
    width: 100%;
    margin: 5px;
}

.modal-title{
    color: #008550;
    font-weight: 700;
    font-size: 32.33px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow: 0 15px 0px -12px #008D58;
    display: inline-block;
    text-transform: uppercase;
    line-height: 48px;
}
